/* DASH */
.dash {
    width: 80%;
    height: 100vh;    
    overflow-x: hidden;
    background-color: rgb(227, 227, 253);
}

.titulo h1 {
    color: black;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.titulo {
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.graficos {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END DASH */


.contGrafico {
    display: block;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    align-items: center;
    flex-wrap: wrap;    

    
}

.colunas {
    display: flex;
    height: 80%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.buscar-maquina{
    display: flex;


}

.valores {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.coluna_1 {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    width: 20%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.coluna_2 {
    display: flex;
    margin-top: 10%;
    margin-left: 2%;
    width: 20%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.coluna_3 {
    display: flex;
    margin-top: 20%;
    margin-left: 2%;
    width: 20%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.resultado {
    border: 2px solid black;
    width: 100%;
    height: 45%;
    /* background:-webkit-linear-gradient(bottom, rgb(202, 133, 248) 0%,rgba(184, 85, 250, 0) 100%); Chrome10-25,Safari5.1-6 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 5px 5px gray;
    background-color: white;
}

.resultado p {
    color:  blueviolet;
    font-size: 20px;
    
    
}

.grafico1 {
    display: flex;
    margin-top: 2%;
    width: 77%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.grafico2 {
    display: flex;
    margin-top: 10%;
    width: 77%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.grafico3 {
    display: flex;
    margin-top: 20%;
    width: 77%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.primeiro {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    /* background: -webkit-linear-gradient(bottom, rgb(202, 133, 248) 0%,rgba(184, 85, 250, 0) 100%); Chrome10-25,Safari5.1-6; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px gray;
    background-color: white;
}

.segundo {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    /* background: -webkit-linear-gradient(bottom, rgb(202, 133, 248) 0%,rgba(184, 85, 250, 0) 100%); Chrome10-25,Safari5.1-6; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px gray;
    background-color: white;
}

.terceiro {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    /* background: -webkit-linear-gradient(bottom, rgb(202, 133, 248) 0%,rgba(184, 85, 250, 0) 100%); Chrome10-25,Safari5.1-6; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px gray;
    background-color: white;
}